
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="switch">
    <label>
        Off
        <input type="checkbox"> <span class="lever"></span> On
    </label>
</div>

<p>Login <a href="@Url.RouteUrl("login")">here</a> you bastard.</p>